html{
    /* This image will be displayed fullscreen */
/*    background:url('https://unsplash.imgix.net/reserve/z7R1rjT6RhmZdqWbM5hg_R0001139.jpg?q=75&fm=jpg&s=26fc77c65835d1d8e2bcffb8b91a1b93') no-repeat center center;*/

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;

}

body{
        /* Workaround for some mobile browsers */
    min-height:100%;
    font-family: "Helvetica Neue", arial, sans-serif
            color: rgb(255, 255, 255);
}
.positive {
    color: #57A957;
    text-shadow:0px -1px 0 rgba(0, 0, 0, 0.8);
    font-size: 40px;
}

.transparent {
    background:#7f7f7f;
    background:rgba(255,255,255,0.7);
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    
    margin: 50px;
    padding: 10px;
    
    max-width: 600px;
}


.field {
}

.ratio-title{
    font-size: 20px;
    margin-top: -20px;
}
.ratio-title p{
    width: 150px;
    margin-top: -15px;
    text-align: right;
}

#alltime{
    float: right;
}

#footer{
    font-size: 13px;
}